@media only screen and (min-width: 576px) {
    .container {
        max-width: 673px;
    }

    .navbar__title {
        font-size: 2.2857rem;
    }

    .frontpage__article-topic {
        font-size: 1.0625rem;
    }

    .frontpage__article-title {
        font-size: 2.0625rem;
    }

    .frontpage__article-summary {
        font-size: 1.125rem;
    }

    .frontpage__article-image {
        max-width: 1150px;
    }

    .highlight__article-title {
        font-size: 1.25rem;
    }

    .highlight__title {
        font-size: 1.0625rem;
    }

    .footer__page-title {
        font-size: 2.2857rem;
    }

    .footer__link {
        font-size: 1.25rem;
    }

    .article__preamble {
        font-size: 1.25rem;
    }

    /*Remove padding from footer*/
}

@media only screen and (min-width: 768px) {
    .navbar {
        .navbar__social-links {
            display: block;
        }
    }

    .navbar__title {
        font-size: 2.4081rem;
    }

    .frontpage__article-topic {
        font-size: 1.0625rem;
    }

    .frontpage__article-title {
        font-size: 2.625rem;
    }

    .footer__page-title {
        font-size: 2.4081rem;
    }

    .footer__link {
        font-size: 1.39rem;
    }

    .card__image-wrapper {
        max-width: 350px !important;
    }
}

/*THIS WILL BE THE DESKTOP BREAKPOINT*/
@media only screen and (min-width: 992px) {
    .container {
        width: 96%;
        max-width: 988px;
    }
    .footer-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1200px) {
    /*.about-us__image-wrapper {
        height: 400px;
    }*/
}
