@media only screen and (min-width: 576px) {
    .container {
        max-width: 673px;
    }
}

@media only screen and (min-width: 768px) {
    .navbar {
        .navbar__social-links {
            display: block;
        }
    }

    .card__image-wrapper {
        max-width: 350px !important;
    }
}

/*THIS WILL BE THE DESKTOP BREAKPOINT*/
@media only screen and (min-width: 992px) {
    .container {
        width: 96%;
        max-width: 988px;
    }
    .about-me-wrapper {
        display: flex;
        align-items: center;
        /*justify-content: space-between;*/
        .card__image-container {
            width: inherit;
        }
        .text-title-container {
            width: 300px;
            margin: 0 auto;
        }
    }
    .footer-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .card-wrapper {
            width: 300px;
        }
    }
    //is it better to nest everything or should I use "!important"?
    .card-wrapper {
        padding: 36px;
        .card__list-skills {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 36px;
            .card__skill-wrapper {
                width: 270px;
                .card__skill-info {
                    display: block;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
}
