* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Nunito;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
  max-width: 576px;
}

.navbar-wrapper {
  background: #5f52f2;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 0;
}

.navbar .navbar__logo {
  width: 100%;
  height: 100%;
}

.navbar .navbar__logo-wrapper {
  width: 161.44869px;
}

.navbar .navbar__social-links {
  display: none;
}

.navbar .navbar__social-links .social-link {
  margin-right: 20px;
}

.navbar .navbar__hamburger-icon-wrapper svg {
  fill: white;
  width: 37.63506px;
  height: 37.63506px;
}

.navbar .navbar__hamburger-social-links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  background: white;
  -webkit-box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 5px 5px;
  position: absolute;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  left: 35%;
  z-index: -1;
}

.menu .menu__container {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menu__container .menu__link {
  font-size: 1.5rem;
  color: black;
  /*border-bottom: 2px solid orange;*/
}

.menu .menu__container .menu__link:not(:first-child) {
  padding-top: 3px;
}

.show-menu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: inherit;
}

.social-link svg {
  fill: white;
  height: 37.63506px;
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 673px;
  }
  .navbar__title {
    font-size: 2.2857rem;
  }
  .frontpage__article-topic {
    font-size: 1.0625rem;
  }
  .frontpage__article-title {
    font-size: 2.0625rem;
  }
  .frontpage__article-summary {
    font-size: 1.125rem;
  }
  .frontpage__article-image {
    max-width: 1150px;
  }
  .highlight__article-title {
    font-size: 1.25rem;
  }
  .highlight__title {
    font-size: 1.0625rem;
  }
  .footer__page-title {
    font-size: 2.2857rem;
  }
  .footer__link {
    font-size: 1.25rem;
  }
  .article__preamble {
    font-size: 1.25rem;
  }
  /*Remove padding from footer*/
}

@media only screen and (min-width: 768px) {
  .navbar .navbar__social-links {
    display: block;
  }
  .navbar__title {
    font-size: 2.4081rem;
  }
  .frontpage__article-topic {
    font-size: 1.0625rem;
  }
  .frontpage__article-title {
    font-size: 2.625rem;
  }
  .footer__page-title {
    font-size: 2.4081rem;
  }
  .footer__link {
    font-size: 1.39rem;
  }
  .frontpage__article-image-wrapper {
    height: 350px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 96%;
    max-width: 988px;
  }
}

@media only screen and (min-width: 1200px) {
  /*.about-us__image-wrapper {
        height: 400px;
    }*/
}
/*# sourceMappingURL=style.css.map */