$dark-blue: #5f52f2;
$light-blue: #bfbafa;
$darker-orange: #ffa84a;
$lighter-orange: #ffba6e;
$h4-font-size: 34px;
$h4-letter-spacing: 0.25px;
$h5-font-size: 24px;
$h5-letter-spacing: 0;
$body-1-font-size: 16px;
$body-1-letter-spacing: 0.5px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Nunito;
    background: $light-blue;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
    max-width: 576px;
}

.navigation-wrapper {
    z-index: 1;
    position: relative;
}

.navbar-wrapper {
    background: $dark-blue;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0;
    z-index: 1;
    .navbar__logo {
        width: 100%;
        height: 100%;
    }
    .navbar__logo-wrapper {
        width: 0.39186574074074074074 * 412px;
    }
    .navbar__social-links {
        display: none;
        .social-link {
            margin-right: 20px;
        }
    }
    .navbar__hamburger-icon-wrapper {
        height: 0.09134722222222222222 * 412px;
        cursor: pointer;
        .hamburger-icon {
            height: 5px;
            background: white;
            width: 0.09134722222222222222 * 412px;
            margin-top: 6px;
            border-radius: 1000px;
        }
        .top,
        .mid,
        .bottom {
            transition: all 0.25s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        }
    }
    .navbar__hamburger-social-links-wrapper {
        display: flex;
    }
}

.hamburger-cross {
    .top {
        transform-origin: center;
        transform: translate(0, 220%) rotate(-45deg);
    }
    .bottom {
        transform-origin: center;
        transform: translate(0, -220%) rotate(45deg);
    }
    .mid {
        opacity: 0;
    }
}

.menu {
    background: white;
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 5px 5px;
    position: absolute;
    transform: translateY(-150%) translateX(-50%);
    transition: all 0.5s cubic-bezier(0.6, -0.48, 0.34, 1.45);
    left: 50%;
    z-index: -1;
    width: 100%;
    .menu__container {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .menu__link {
            font-size: $h5-font-size;
            letter-spacing: $h5-letter-spacing;
            color: black;
            position: relative;
            /*border-bottom: 2px solid orange;*/
            &:not(:first-child) {
                padding-top: 3px;
            }
            &::after {
                content: "";
                position: absolute;
                width: 0;
                transition: width 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
                height: 2px;
                background-color: orange;
                z-index: 1;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            &:hover::after {
                width: 80%;
            }
        }
    }
}

.show-menu {
    transform: translateY(0) translateX(-50%);
}

.social-link {
    svg {
        fill: white;
        height: 0.09134722222222222222 * 412px;
    }
}

.card-wrapper {
    padding: 12px;
    background: white;
    border-radius: 7px;
    margin: 12px 0;
    .card__title {
        font-size: $h4-font-size;
        letter-spacing: $h4-letter-spacing;
        font-style: normal;
    }
    .card__text {
        font-size: $body-1-font-size;
        letter-spacing: $body-1-letter-spacing;
    }
    .card__image-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        .card__image-wrapper {
            height: 100%;
            max-width: 300px;
            img {
                /*object-fit: cover;*/
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
    }
    .card__list {
        li {
            list-style: none;
            .contact-link {
                display: flex;
                flex-direction: row;
                align-items: center;
                svg {
                    fill: $darker-orange;
                    height: 0.09134722222222222222 * 412px;
                }
                .contact-info {
                    color: $lighter-orange;
                    margin-left: 12px;
                }
            }
            .social-link {
                display: flex;
                flex-direction: row;
                align-items: center;
                svg {
                    fill: $darker-orange;
                    margin-top: 12px;
                }
                p {
                    color: $lighter-orange;
                    margin-left: 12px;
                    transform: translateY(20%);
                }
            }
        }
    }
    .card__list-contact {
        display: flex;
        flex-direction: column;
        height: 80%;
        justify-content: space-evenly;
    }
    .card__list-skills {
        .card__skill-wrapper {
            .card__skill-title {
                font-size: $body-1-font-size;
                letter-spacing: $body-1-letter-spacing;
                color: $lighter-orange;
                font-weight: bold;
            }
            .card__skill-info {
                display: none;
            }
        }
    }
    /*
    .card__image-wrapper {
        width: 100%;
        height: 400px;
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    */
}

@import "./breakpoints";
